initialize() {
	setSeed(seed); 
	defineConstant("K", 1000);
	initializeTreeSeq(checkCoalescence=T); 
	initializeMutationRate(1e-8);

	initializeMutationType("m1", dominance_coefficient, "g", mean, shape_parameter);  // deleterious

	// The genomic element type here utilizes a mix of m1
	initializeGenomicElementType("g1", m1, 0.1);
	initializeGenomicElement(g1, 0, 1e6 - 1);
	initializeRecombinationRate(1e-8);

	// We set up custom colors for display of m2
	m1.color = "red";
}

// An initial subpop is set up as before.
1 {
	sim.addSubpop("p1", K);
	defineConstant("simID", getSeed()); 
}
1: late() {
	if (sim.treeSeqCoalesced())
 	{
 	sim.treeSeqOutput(path + "/background" + simID + ".trees");
 	sim.simulationFinished();
 	} 
}

10000 late() {
	sim.treeSeqOutput(path + "/background" + simID + ".trees");
}